<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link rel="stylesheet" href="../static/css/community.css">
</head>
<body>
<div class="header">
    <div class="head-box">
        <div class="head-logo clearfix"></div>
        <ul class="head-nav">
            <li>首页</li>
            <li class="active">社区</li>
            <li>图书馆</li>
            <li>产品</li>
            <li>活动</li>
        </ul>
        <div class="head-tool">
            <div class="search-box clearfix">
                <input type="text" placeholder="请出入您要查找的内容">
                <i class="icon icon-head-search"></i>
            </div>
            <div class="login-box clearfix">
                <i class="icon icon-head-user"></i>
                <span>登录</span>
            </div>
        </div>
    </div>
</div>
<div class="section sec-bg header-margin">
    <div class="container">
        <div class="top-img">
            <img src="../static/image/com/com-top.png" alt="">
        </div>
    </div>
</div>
<div class="section sec-bg">
    <div class="container community-content">
        <div class="fl cc-left">
            <div class="ccl-topNav">
                <div class="ccl-topNav-title">板块 :</div>
                <ul class="ccl-topNav-tag">
                    <li class="active"><i class="icon icon-ccl-topnav-one"></i>全部帖子</li>
                    <li><i class="icon icon-ccl-topnav-two"></i>建站专区</li>
                    <li><i class="icon icon-ccl-topnav-three"></i>B2C专区</li>
                    <li class="border-trans"><i class="icon icon-ccl-topnav-four"></i>内置专区</li>
                    <li><i class="icon icon-ccl-topnav-five"></i>电竞专区</li>
                    <li><i class="icon icon-ccl-topnav-six"></i>物流专区</li>
                    <li><i class="icon icon-ccl-topnav-seven"></i>B2B专区</li>
                    <li class="border-trans"><i class="icon icon-ccl-topnav-eight"></i>互联网专区</li>
                </ul>
            </div>
            <div class="ccl-content">
                <div class="content-sizer clearfix">
                    <h3 class="sizer-title"><i class="icon icon-ccl-content-sizer"></i>发现</h3>
                    <ul class="sizer-nav">
                        <li><i class="sizer-nav-before"></i>最新</li>
                        <li><i class="sizer-nav-before"></i>等待回复</li>
                        <li><i class="sizer-nav-before"></i>推荐</li>
                        <li><i class="sizer-nav-before"></i>当天热门</li>
                        <li><i class="sizer-nav-before"></i>7天热门</li>
                        <li class="active"><i class="sizer-nav-before"></i>30天热门</li>
                    </ul>
                </div>
                <ul class="content-list">
                    <li>
                        <div class="list-img clearfix"><img src="../static/image/com/list1.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">B2B</span></p>
                        </div>
                        <div class="list-contribute clearfix">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list2.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>EDM邮件营销！！终于可以发帖了，这是我之前自己搜集整理的EDM的注意事项！希望对大家有帮助吧！！！！！！！！！！！！</h4>
                            <p><span class="list-user">跨境萌新</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">经验分享</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list3.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>有哪些渠道、如何更有效的操作Q&A?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">外贸</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-vipIcon">V</div>
                        <div class="list-img">
                            <img src="../static/image/com/list1.png" alt="">
                        </div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">职场</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img clearfix"><img src="../static/image/com/list1.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">B2B</span></p>
                        </div>
                        <div class="list-contribute clearfix">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list2.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>EDM邮件营销！！终于可以发帖了，这是我之前自己搜集整理的EDM的注意事项！希望对大家有帮助吧！！！！！！！！！！！！</h4>
                            <p><span class="list-user">跨境萌新</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">经验分享</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list3.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>有哪些渠道、如何更有效的操作Q&A?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">外贸</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img clearfix"><img src="../static/image/com/list1.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">B2B</span></p>
                        </div>
                        <div class="list-contribute clearfix">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list2.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>EDM邮件营销！！终于可以发帖了，这是我之前自己搜集整理的EDM的注意事项！希望对大家有帮助吧！！！！！！！！！！！！</h4>
                            <p><span class="list-user">跨境萌新</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">经验分享</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list3.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>有哪些渠道、如何更有效的操作Q&A?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">外贸</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img clearfix"><img src="../static/image/com/list1.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">B2B</span></p>
                        </div>
                        <div class="list-contribute clearfix">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img clearfix"><img src="../static/image/com/list1.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">B2B</span></p>
                        </div>
                        <div class="list-contribute clearfix">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list2.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>EDM邮件营销！！终于可以发帖了，这是我之前自己搜集整理的EDM的注意事项！希望对大家有帮助吧！！！！！！！！！！！！</h4>
                            <p><span class="list-user">跨境萌新</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">经验分享</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list3.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>有哪些渠道、如何更有效的操作Q&A?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">外贸</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-vipIcon">V</div>
                        <div class="list-img">
                            <img src="../static/image/com/list1.png" alt="">
                        </div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">职场</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img clearfix"><img src="../static/image/com/list1.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">B2B</span></p>
                        </div>
                        <div class="list-contribute clearfix">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list2.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>EDM邮件营销！！终于可以发帖了，这是我之前自己搜集整理的EDM的注意事项！希望对大家有帮助吧！！！！！！！！！！！！</h4>
                            <p><span class="list-user">跨境萌新</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">经验分享</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list3.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>有哪些渠道、如何更有效的操作Q&A?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">外贸</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img clearfix"><img src="../static/image/com/list1.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>美国电商税改巨变！23个州+1个特别行政区将向亚马逊卖家增收销售税?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">B2B</span></p>
                        </div>
                        <div class="list-contribute clearfix">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list2.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>EDM邮件营销！！终于可以发帖了，这是我之前自己搜集整理的EDM的注意事项！希望对大家有帮助吧！！！！！！！！！！！！</h4>
                            <p><span class="list-user">跨境萌新</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">经验分享</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/list3.png" alt=""></div>
                        <div class="list-title clearfix">
                            <h4>有哪些渠道、如何更有效的操作Q&A?</h4>
                            <p><span class="list-user">匿名用户</span> 回复了问题<i> · </i>9人关注<i> · </i>9个回复<i> · </i>671次浏览<i> · </i><span class="list-tag">外贸</span></p>
                        </div>
                        <div class="list-contribute">
                            <p>贡献</p>
                            <p class="contribute-img">
                                <span><img src="../static/image/com/contribute1.png" alt=""></span>
                                <span><img src="../static/image/com/contribute2.png" alt=""></span>
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="ccl-sorter">
                <ul class="sorter">

                </ul>
            </div>
        </div>
        <div class="fl cc-right">
            <div class="cc-right-sign clearfix">
                <div class="sign-time">
                    <p class="time-md"></p>
                    <p class="time-year"></p>
                </div>
                <div class="sign-box">
                    <div class="sign-btn">签</div>
                    <p>点击签到</p>
                </div>
            </div>
            <div class="cc-right-issue">
                <div class="issue-btn"><i class="icon icon-ccr-issue"></i>发布问题</div>
                <ul class="issue-tag clearfix">
                    <li>亚马逊</li>
                    <li>B2B</li>
                    <li>外贸建站</li>
                    <li>美赞拓建站</li>
                    <li>4PX速递</li>
                    <li>网站APP</li>
                    <li>亚马逊推广</li>
                    <li>小卖家建站</li>
                    <li>速卖通</li>
                    <li>B2C</li>
                    <li>PPCART</li>
                    <li>MAGENTO</li>
                    <li>ZENCART外贸建站</li>
                    <li>外贸经验分享</li>
                </ul>
            </div>
            <ul class="cc-right-diamonds clearfix">
                <li class="bg-a">原创</li>
                <li class="bg-b">提问</li>
                <li class="bg-c">资源</li>
                <li class="bg-d">分享</li>
            </ul>
            <div class="cc-right-monthly">
                <h3 class="ccr-monthly-title">每月鲸英榜</h3>
                <ul class="ccr-monthly-list">
                    <li>
                       <img src="../static/image/com/head-img4.png" alt="">
                       <span class="ccrm-userName">我很开心</span>
                       <span class="ccrm-reply">999+条回复</span>
                   </li>
                    <li>
                        <img src="../static/image/com/head-img4.png" alt="">
                        <span class="ccrm-userName">我很开心山东矿</span>
                        <span class="ccrm-reply">358条回复</span>
                    </li>
                    <li>
                        <img src="../static/image/com/head-img4.png" alt="">
                        <span class="ccrm-userName">是建档立卡三</span>
                        <span class="ccrm-reply">358条回复</span>
                    </li>
                    <li>
                        <img src="../static/image/com/head-img4.png" alt="">
                        <span class="ccrm-userName">sdsdslds</span>
                        <span class="ccrm-reply">12313条回复</span>
                    </li>
                    <li>
                        <img src="../static/image/com/head-img4.png" alt="">
                        <span class="ccrm-userName">我很试试</span>
                        <span class="ccrm-reply">5645条回复</span>
                    </li>
                    <li>
                        <img src="../static/image/com/head-img4.png" alt="">
                        <span class="ccrm-userName">我很开心矢口抵赖是考虑的开始了</span>
                        <span class="ccrm-reply">1001条回复</span>
                    </li>
                </ul>
            </div>
            <div class="cc-right-activity">
                <h3>热门活动</h3>
                <ul class="ccr-activity-list">
                    <li>
                        <div class="list-img"><img src="../static/image/com/activity.png" alt=""></div>
                        <p>你觉得的人工智能会是互联网时代的终结吗？</p>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/activity.png" alt=""></div>
                        <p>你觉得的人工智能会是互联网时代的终结吗？</p>
                    </li>
                    <li>
                        <div class="list-img"><img src="../static/image/com/activity.png" alt=""></div>
                        <p>你觉得的人工智能会是互联网时代的终结吗？</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section por">
    <div class="icon-foot-logo"></div>
    <div class="container footer clearfix">
        <div class="foot-left">
            <div class="foot-logo">
                <img src="../static/image/foot-logo.png" alt="">
            </div>
            <p class="foot-introduce">国内首个跨境电商工具知识类交流分享组织，打造全方位、专业化的电商知识分享及经验交流平台，帮助跨境电商卖家解决电商问题，促进电商卖家经验交流学习，使其电商事业快速发展！</p>
            <p class="foot-copyright">版权所有 © 递四方信息科技集团 粤ICP备12019163号-10</p>
        </div>
        <div class="foot-right">
            <p class="foot-nav-title">产品</p>
            <ul class="foot-nav">
                <li>分析工具</li>
                <li>翻译工具</li>
                <li>挽回工具</li>
                <li>建站工具</li>
                <li>推广工具</li>
            </ul>
            <p class="foot-nav-title">文章</p>
            <ul class="foot-nav">
                <li>人物</li>
                <li>分析</li>
                <li>建站</li>
                <li>电商</li>
            </ul>
        </div>
    </div>
</div>

<script src="../static/js/jquery-1.7.2.min.js"></script>
<script src="../static/js/placeholders.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var myDate = new Date();
        $(".time-year").html(myDate.getFullYear());
        var month = myDate.getMonth()+1;
        $(".time-md").html(myDate.getDate()+"/"+month);
    });
    (function () {
        $(".sizer-nav li").click(function () {
            $(".sizer-nav li").eq($(this).index()).addClass("active").siblings().removeClass("active");
        });
        $(".ccl-topNav-tag li").click(function () {
            $(".ccl-topNav-tag li").eq($(this).index()).addClass("active").siblings().removeClass("active");
        });
    })();
    $(function(){ $('input, textarea').placeholder(); });
</script>
</body>
</html>