<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加载中···</title>
    <link rel="stylesheet" href="../static/css/community-details.css">
</head>
<body>
<div class="header">
    <div class="head-box">
        <div class="head-logo clearfix"></div>
        <ul class="head-nav">
            <li>首页</li>
            <li class="active">社区</li>
            <li>图书馆</li>
            <li>产品</li>
            <li>活动</li>
        </ul>
        <div class="head-tool">
            <div class="search-box clearfix">
                <input type="text" placeholder="请出入您要查找的内容">
                <i class="icon icon-head-search"></i>
            </div>
            <div class="login-box clearfix">
                <i class="icon icon-head-user"></i>
                <span>登录</span>
            </div>
        </div>
    </div>
</div>
<div class="section sec-bg header-margin">
    <div class="content clearfix">
        <div class="content-left fl">
            <div class="article-conten">
                <div class="article-title clearfix">
                    <h3>跨境电商是下一个风口浪尖的顶峰</h3>
                    <p>
                        <span>举报</span>
                        <span>只看此人</span>
                        <span>收藏本帖</span>
                        <span>楼主</span>
                    </p>
                </div>
                <p class="article-classify"><span>分类 : </span><span class="classify">互联网专区</span></p>
                <p class="article-data">
                    <i class="icon icon-article-data-look"></i><span class="look">3957</span>
                    <i class="icon icon-article-data-comment"></i><span class="comment">395</span>
                    <i class="icon icon-article-data-time"></i><span class="time">2017-12-13 10:52</span>
                </p>
                <div class="article-text">
                    <p>制定有效的定价策略，确保价格包含所有成本支出的同时又有一定盈利，并且还要让客户满意，对于新手卖家来说是一件很困难的事。并且，如果定价不当，可能对你的业务产生不良的影响，影响业绩。因此，为了帮助新手卖家更顺畅地开展网络业务，奇单总结了三个更为有效的电商定价策略：</p>
                    <h4>1、以成本为基准的电商定价策略</h4>
                    <p>这一定价策略是零售行业中最受欢迎的定价模式之一。该策略操作简单，零售商无需进行大量的客户和市场研究，就能保证产品具有一定的利润。你只需计算出正在销售的产品成本，然后加上你期望获得的利润。当然，此处的产品成本为总成本，包括产品的采购价格，以及各项运营运输。</p>
                    <h4>2、以竞争为导向的电商定价策略</h4>
                    <p>使用这一策略，你的产品价格只需与竞争对手制定的价格相近即可。但随着电商市场的不断扩张，你需要时刻保持对竞争对手产品定价的关注。</p>
                    <h4>3、以价值为导向的产品定价策略</h4>
                    <p>这个策略更为的复杂，因为零售商需要根据买家对产品价值的定义来定价，而不是根据实际成本。采用这个策略，零售商不仅要对市场进行研究，还需要对消费者客户进行分析研究。</p>
                    <p>通过分析客户的购买行为，了解他们网购的原因和重视的产品功能，并分析价格在他们的购买决定中的决定性因素有多大。</p>
                    <p>该策略虽然较为的繁琐，但是它可以通过C对客户购买意愿和行为的分析和了解，帮助零售商获得更高的产品利润，从整体上提高产品销售额。</p>
                    <h4>总结</h4>
                    <p>当然市场上不仅仅是这3中定价策略最为有效，市场上还有许多定价策略可以用于你的电商业务。但是，最重要的是，你需要弄清楚哪种模式最好。</p>
                </div>
                <p class="article-tags">
                    <i class="icon icon-article-data-tags"></i><span>营销</span>
                    <i class="icon icon-article-data-tags"></i><span>跨境电商</span>
                    <i class="icon icon-article-data-tags"></i><span>互联网</span>
                </p>
                <div class="operation-box clearfix">
                    <div class="share">
                        <p class="share-icon">
                            <i class="icon icon-share-qq"></i>
                            <i class="icon icon-share-wx"></i>
                            <i class="icon icon-share-wb"></i>
                        </p>
                        <p class="share-text">快和朋友分享吧</p>
                    </div>
                    <div class="reward">
                        <span class="reward-num">288</span>
                    </div>
                    <div class="praise-collect clearfix">
                        <div class="btn-box">
                            <p class="btn-style" id="praise">
                                <i class="icon icon-operation-zan1"></i>
                                <span class="btn-text">点赞</span>
                            </p>
                            <p class="praise-num">217人已点赞</p>
                        </div>
                        <div class="btn-box">
                            <p class="btn-style" id="collect">
                                <i class="icon icon-operation-shou1"></i>
                                <span class="btn-text">收藏</span>
                            </p>
                            <p class="praise-num">37人已收藏</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-comment">
                <div class="operation-box clearfix">
                    <p class="hint">您需要登录后才可以回复，请 <span>登录</span>或者<span>立即注册</span></p>
                    <textarea name="" id="comment-box" cols="30" rows="10"></textarea>
                    <div class="comment-btn">我要评论</div>
                </div>
                <div class="comment-list">
                    <h3 class="comment-title">精彩评论</h3>
                    <ul class="list-fine">
                        <li class="clearfix">
                            <i class="icon icon-comment-fine"></i>
                            <p class="list-top">
                                <span>我要打赏</span>
                                <span>点赞</span>
                                <span>举报</span>
                                <span>只看此人</span>
                                <span class="level">07楼</span>
                            </p>
                            <div class="list-message clearfix">
                                <div class="list-head-img">
                                    <img src="../static/image/com/master-head.png" alt="">
                                </div>
                                <div class="list-name-details">
                                    <p class="list-name">
                                        <span class="user-name">都柏林</span>
                                        <span class="time">2017-12-13 10:52</span>
                                    </p>
                                    <p class="list-details">静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。</p>
                                </div>
                            </div>
                            <p class="list-btn">回复</p>
                        </li>
                        <li class="clearfix">
                            <i class="icon icon-comment-fine"></i>
                            <p class="list-top">
                                <span>我要打赏</span>
                                <span>点赞</span>
                                <span>举报</span>
                                <span>只看此人</span>
                                <span class="level">07楼</span>
                            </p>
                            <div class="list-message clearfix">
                                <div class="list-head-img">
                                    <img src="../static/image/com/master-head.png" alt="">
                                </div>
                                <div class="list-name-details">
                                    <p class="list-name">
                                        <span class="user-name">都柏林</span>
                                        <span class="time">2017-12-13 10:52</span>
                                    </p>
                                    <p class="list-details">静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。</p>
                                </div>
                            </div>
                            <p class="list-btn">回复</p>
                        </li>
                        <li class="clearfix">
                            <i class="icon icon-comment-fine"></i>
                            <p class="list-top">
                                <span>我要打赏</span>
                                <span>点赞</span>
                                <span>举报</span>
                                <span>只看此人</span>
                                <span class="level">07楼</span>
                            </p>
                            <div class="list-message clearfix">
                                <div class="list-head-img">
                                    <img src="../static/image/com/master-head.png" alt="">
                                </div>
                                <div class="list-name-details">
                                    <p class="list-name">
                                        <span class="user-name">都柏林</span>
                                        <span class="time">2017-12-13 10:52</span>
                                    </p>
                                    <p class="list-details">静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。</p>
                                </div>
                            </div>
                            <p class="list-btn">回复</p>
                        </li>
                    </ul>
                    <h3 class="comment-title">全部评论</h3>
                    <ul class="list-all">
                        <li class="clearfix">
                            <p class="list-top">
                                <span>我要打赏</span>
                                <span>点赞</span>
                                <span>举报</span>
                                <span>只看此人</span>
                                <span class="level">01楼</span>
                            </p>
                            <div class="list-message clearfix">
                                <div class="list-head-img">
                                    <img src="../static/image/com/master-head.png" alt="">
                                </div>
                                <div class="list-name-details">
                                    <p class="list-name">
                                        <span class="user-name">都柏林</span>
                                        <span class="time">2017-12-13 10:52</span>
                                    </p>
                                    <p class="list-details">静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧</p>
                                </div>
                            </div>
                            <p class="list-btn">回复</p>
                        </li>
                        <li class="clearfix">
                            <p class="list-top">
                                <span>我要打赏</span>
                                <span>点赞</span>
                                <span>举报</span>
                                <span>只看此人</span>
                                <span class="level">02楼</span>
                            </p>
                            <div class="list-message clearfix">
                                <div class="list-head-img">
                                    <img src="../static/image/com/master-head.png" alt="">
                                </div>
                                <div class="list-name-details">
                                    <p class="list-name">
                                        <span class="user-name">都柏林</span>
                                        <span class="time">2017-12-13 10:52</span>
                                    </p>
                                    <p class="list-details">静以修身，俭以养德。终成有用之人，再回馈社会。</p>
                                </div>
                            </div>
                            <p class="list-btn">回复</p>
                        </li>
                        <li class="clearfix">
                            <p class="list-top">
                                <span>我要打赏</span>
                                <span>点赞</span>
                                <span>举报</span>
                                <span>只看此人</span>
                                <span class="level">03楼</span>
                            </p>
                            <div class="list-message clearfix">
                                <div class="list-head-img">
                                    <img src="../static/image/com/master-head.png" alt="">
                                </div>
                                <div class="list-name-details">
                                    <p class="list-name">
                                        <span class="user-name">都柏林</span>
                                        <span class="time">2017-12-13 10:52</span>
                                    </p>
                                    <p class="list-details">静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧。静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧静以修身，俭以养德。终成有用之人，再回馈社会。人的一生应该是这样吧</p>
                                </div>
                            </div>
                            <p class="list-btn">回复</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="article-sorter">

            </div>
        </div>
        <div class="content-right fl" id="master">
            <div class="master-datum">
                <div class="head-img">
                    <img src="../static/image/com/master-head.png" alt="">
                </div>
                <h3 class="master-name">BIG3_ONE</h3>
                <p class="master-intro">"大咖联盟俱乐部"</p>
                <div class="attention-btn"></div>
            </div>
            <div class="master-data clearfix">
                <div class="data-list">
                    <span>发表</span>
                    <p>17</p>
                </div>
                <div class="data-list">
                    <span>关注</span>
                    <p>288</p>
                </div>
                <div class="data-list">
                    <span>粉丝</span>
                    <p>1650</p>
                </div>
            </div>
            <div class="master-privately">
                <i class="icon icon-privately-message"></i>
                <span>私信他 / 她</span>
            </div>
        </div>
    </div>
</div>
<div class="section por">
    <div class="icon-foot-logo"></div>
    <div class="container footer clearfix">
        <div class="foot-left">
            <div class="foot-logo">
                <img src="../static/image/foot-logo.png" alt="">
            </div>
            <p class="foot-introduce">国内首个跨境电商工具知识类交流分享组织，打造全方位、专业化的电商知识分享及经验交流平台，帮助跨境电商卖家解决电商问题，促进电商卖家经验交流学习，使其电商事业快速发展！</p>
            <p class="foot-copyright">版权所有 © 递四方信息科技集团 粤ICP备12019163号-10</p>
        </div>
        <div class="foot-right">
            <p class="foot-nav-title">产品</p>
            <ul class="foot-nav">
                <li>分析工具</li>
                <li>翻译工具</li>
                <li>挽回工具</li>
                <li>建站工具</li>
                <li>推广工具</li>
            </ul>
            <p class="foot-nav-title">文章</p>
            <ul class="foot-nav">
                <li>人物</li>
                <li>分析</li>
                <li>建站</li>
                <li>电商</li>
            </ul>
        </div>
    </div>
</div>

<script src="../static/js/jquery-1.7.2.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).attr('title','当前文章');
    });
    $("#praise").click(function () {
        praise()
    });
    $("#collect").click(function () {
        collect();
    });
    function praise() {
        if ($("#praise").hasClass("active")) {
            $("#praise").removeClass("active");
            $("#praise i").removeClass("icon-operation-zan2").addClass("icon-operation-zan1");
            $("#praise span").html("点赞");
        }else {
            $("#praise").addClass("active");
            $("#praise i").removeClass("icon-operation-zan1").addClass("icon-operation-zan2");
            $("#praise span").html("已赞");
        }

    }
    function collect() {
        if ($("#collect").hasClass("active")) {
            $("#collect").removeClass("active");
            $("#collect i").removeClass("icon-operation-shou2").addClass("icon-operation-shou1");
        }else {
            $("#collect").addClass("active");
            $("#collect i").removeClass("icon-operation-shou1").addClass("icon-operation-shou2");
        }
    }
    $("#comment-box").focus(function () {
        $(".hint").addClass("hide");
    }).blur(function () {
        if ($("#comment-box").val() == '') {
            $(".hint").removeClass("hide");
        }else {
            return
        }

    })

//    $(window).scroll(function () {
//        var _width = $(window).width();
//        var scr_left = (_width - 1200)/2+960;
//        console.log(scr_left);
//        var scr_top = $(document).scrollTop();
//        var master = $("#master");
//
//        if(scr_top >= 50){
//            master.addClass("master");
//            master.css('left',scr_left+'px');
//        }else{
//            master.removeClass("master");
//        }
//    });
</script>
</body>
</html>