<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>big社区</title>
    <link rel="stylesheet" href="/css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="/css/home-page.css"/>
</head>
<body>
<div class="header">
    <div class="head-box">
        <div class="head-logo clearfix"></div>
        <ul class="head-nav">
            <li class="active">首页</li>
            <li class="comm">社区</li>
            <li class="lib">图书馆</li>
            <li class="prod">产品</li>
            <li class="act">活动</li>
        </ul>
        <div class="head-tool">
            <div class="search-box clearfix">
                <input type="text" placeholder="请出入您要查找的内容"/>
                <i class="icon icon-head-search"></i>
            </div>
            <div class="login-box clearfix">
                <i class="icon icon-head-user"></i>
                <span>登录</span>
            </div>
        </div>
    </div>
</div>
<div class="section header-margin">
    <div class="home-banner">
        <img src="/image/banner.jpg" alt=""/>
    </div>
</div>
<div class="section sec-bg">
    <div class="container dry">
        <h2 class="title">最赞干货</h2>
        <p class="desc">专注BIG3社区交流，干货分享</p>
        <div class="dry-show">
            <ul class="clearfix">
                <li>
                    <div class="ds-head-img">
                        <img src="/image/head-img.jpg" alt=""/>
                    </div>
                    <p class="ds-name">Valentin A</p>
                    <div class="ds-tag">
                        <i class="icon icon-ds-tag-look"></i>
                        <span class="tag-num">4743</span>
                        <i class="icon icon-ds-tag-mes"></i>
                        <span class="tag-num">33</span>
                        <span class="tags">PPC</span>
                        <span class="tags">产品开发</span>
                    </div>
                    <p class="ds-title">关于PPC广告的8个问题</p>
                    <p class="ds-desc">亚马逊站内PPC广告作为卖家主动营销的
                        重要手段，可以为卖家带来更多的主动流
                        量，拉升店铺的销量，成为打造爆款和日
                        常运营中必不可少的运营工具，但在实际
                        运营中，不少卖家又会遇到各种各样的问
                        题。</p>
                    <img src="/image/ds-img.jpg" alt=""/>
                </li>
                <li>
                    <div class="ds-head-img">
                        <img src="/image/head-img.jpg" alt=""/>
                    </div>
                    <p class="ds-name">一个勺子</p>
                    <div class="ds-tag">
                        <i class="icon icon-ds-tag-look"></i>
                        <span class="tag-num">4743</span>
                        <i class="icon icon-ds-tag-mes"></i>
                        <span class="tag-num">33</span>
                        <span class="tags">分享</span>
                        <span class="tags">技能</span>
                    </div>
                    <p class="ds-title">Google Adwords 技巧公开</p>
                    <p class="ds-desc">好久没有介绍关键词工具了！付费的关键词
                        软件大伙应该都看过很多广告，略知一二，
                        继前两次的免费关键词工具，这次要介绍第
                        三弹了！</p>
                    <img src="/image/ds-img1.jpg" alt=""/>
                </li>
                <li>
                    <div class="ds-head-img">
                        <img src="/image/head-img.jpg" alt=""/>
                    </div>
                    <p class="ds-name">Floz</p>
                    <div class="ds-tag">
                        <i class="icon icon-ds-tag-look"></i>
                        <span class="tag-num">4743</span>
                        <i class="icon icon-ds-tag-mes"></i>
                        <span class="tag-num">33</span>
                        <span class="tags">PPC</span>
                        <span class="tags">产品开发</span>
                    </div>
                    <p class="ds-title">zencart最新模板分享</p>
                    <p class="ds-desc">亚马逊站内PPC广告作为卖家主动营销的
                        重要手段，可以为卖家带来更多的主动流
                        量，拉升店铺的销量，成为打造爆款和日
                        常运营中必不可少的运营工具，但在实际
                        运营中，不少卖家又会遇到各种各样的问
                        题。</p>
                    <img src="/image/ds-img2.jpg" alt=""/>
                </li>
                <li>
                    <div class="ds-head-img">
                        <img src="/image/head-img.jpg" alt=""/>
                    </div>
                    <p class="ds-name">Valentin A</p>
                    <div class="ds-tag">
                        <i class="icon icon-ds-tag-look"></i>
                        <span class="tag-num">4743</span>
                        <i class="icon icon-ds-tag-mes"></i>
                        <span class="tag-num">33</span>
                        <span class="tags">PPC</span>
                        <span class="tags">产品开发</span>
                    </div>
                    <p class="ds-title">关于PPC广告的8个问题</p>
                    <p class="ds-desc">亚马逊站内PPC广告作为卖家主动营销的
                        重要手段，可以为卖家带来更多的主动流
                        量，拉升店铺的销量，成为打造爆款和日
                        常运营中必不可少的运营工具，但在实际
                        运营中，不少卖家又会遇到各种各样的问
                        题。</p>
                    <img src="/image/ds-img3.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section sec-bgi">
    <div class="container">
        <h2 class="title">big3社区</h2>
        <p class="desc">完善的知识问答社区平台，高效关注并学习更多电商大咖</p>
        <p class="desc">提供更有意思的分享方式来交流跨境电商知识与方法</p>
        <div class="btn-box">
            <button class="btn home-btn"> 访问big社区>></button>
        </div>
        <div class="page-show"></div>
    </div>
</div>
<div class="section sec-bg">
    <div class="container">
        <div class="big-data">
            <h2 class="title">big3大数据</h2>
            <p class="desc">BIG社区拥有庞大的用户群体，来自不同的行业，不同的大咖，带给您不同的知识体验。</p>
            <ul class="big-data-card">
                <li>
                    <i class="icon icon-data-cl"></i>
                    <p>15 000+</p>
                    <span>提问量</span>
                </li>
                <li>
                    <i class="icon icon-data-user"></i>
                    <p>414</p>
                    <span>专栏入主大咖</span>
                </li>
                <li>
                    <i class="icon icon-data-abc"></i>
                    <p>704</p>
                    <span>解决问题</span>
                </li>
                <li>
                    <i class="icon icon-data-xing"></i>
                    <p>3 311</p>
                    <span>收藏量</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section sec-lib">
    <div class="container">
        <h2 class="book-title">big3图书馆</h2>
        <p class="book-desc">量级知识储备库，方便快捷的搜索规则，完整问题解决方案
            让你更加快速的寻找到自己的问题解决方案</p>
        <div class="book-btn-box">
            <button class="btn home-btn">进入BIG3图书馆>></button>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <h2 class="title">热门大咖</h2>
        <p class="desc">这里汇聚了最热议的电商大咖</p>
        <div class="swiper-container slider-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/image/slider-show.png" alt=""/>
                    <div class="slider-header-img">
                        <img src="/image/slider-header.png" alt=""/>
                    </div>
                    <h5>狂傲的野狼</h5>
                    <div class="tags">
                        <i class="icon icon-slider-user"></i>
                        <span>24</span>
                        <i class="icon icon-slider-paper"></i>
                        <span>53</span>
                    </div>
                    <p>最近作品：《最新查找 Reviewer ID》</p>
                    <div class="slider-btn">查看详情</div>
                </div>
                <div class="swiper-slide">
                    <img src="/image/slider-show.png" alt=""/>
                    <div class="slider-header-img">
                        <img src="/image/slider-header.png" alt=""/>
                    </div>
                    <h5>狂傲的野狼</h5>
                    <div class="tags">
                        <i class="icon icon-slider-user"></i>
                        <span>24</span>
                        <i class="icon icon-slider-paper"></i>
                        <span>53</span>
                    </div>
                    <p>最近作品：《最新查找 Reviewer ID》</p>
                    <div class="slider-btn">查看详情</div>
                </div>
                <div class="swiper-slide">
                    <img src="/image/slider-show.png" alt=""/>
                    <div class="slider-header-img">
                        <img src="/image/slider-header.png" alt=""/>
                    </div>
                    <h5>狂傲的野狼</h5>
                    <div class="tags">
                        <i class="icon icon-slider-user"></i>
                        <span>24</span>
                        <i class="icon icon-slider-paper"></i>
                        <span>53</span>
                    </div>
                    <p>最近作品：《最新查找 Reviewer ID》</p>
                    <div class="slider-btn">查看详情</div>
                </div>
                <div class="swiper-slide">
                    <img src="/image/slider-show.png" alt=""/>
                    <div class="slider-header-img">
                        <img src="/image/slider-header.png" alt=""/>
                    </div>
                    <h5>狂傲的野狼</h5>
                    <div class="tags">
                        <i class="icon icon-slider-user"></i>
                        <span>24</span>
                        <i class="icon icon-slider-paper"></i>
                        <span>53</span>
                    </div>
                    <p>最近作品：《最新查找 Reviewer ID》</p>
                    <div class="slider-btn">查看详情</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="swiper-container slider-two">
        <div class="swiper-wrapper">
            <div class="swiper-slide sliderT-bgc">
                <img src="/image/slider2.png" alt=""/>
                <div class="slider-text">
                    <p>如果你想创建一个电商网站，但又不懂得编程知识，那么上面这些我们为您提供的建站系统可以帮到你。</p>
                    <p>多种多样的建站系统，多种多样的服务类型。总有一款适合您。</p>
                </div>
                <span class="slider-btn">查看更多</span>
            </div>
            <div class="swiper-slide sliderT-bgi">
                <img src="/image/slider3.png" alt=""/>
            </div>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
</div>
<div class="section sec-bg">
    <div class="container">
        <h2 class="title">最新活动</h2>
        <ul class="activity-box clearfix">
            <li class="act-small">
                <img src="/image/home-page/new-activity1.png" alt=""/>
                <div class="act-contain contain-top">
                    <h4>四方来“站” ·外贸品牌电商运营深度剖析精英沙龙</h4>
                    <p>
                        <i class="icon icon-activity-time"></i>
                        <span>2017.09.16</span>
                    </p>
                    <p>
                        <i class="icon icon-activity-location"></i>
                        <span>深圳市·宝安区</span>
                    </p>
                    <div class="contain-btn clearfix">
                        <div class="contain-btn-apply">立即报名</div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fx"></i>
                        </div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fs"></i>
                        </div>
                    </div>

                </div>
            </li>
            <li class="act-centre">
                <img src="/image/home-page/new-activity3.png" alt=""/>
                <div class="act-contain contain-top">
                    <h4>四方来“站” ·外贸品牌电商运营深度剖析精英沙龙</h4>
                    <p>
                        <i class="icon icon-activity-time"></i>
                        <span>2017.09.16</span>
                    </p>
                    <p>
                        <i class="icon icon-activity-location"></i>
                        <span>深圳市·宝安区</span>
                    </p>
                    <div class="contain-btn clearfix">
                        <div class="contain-btn-apply">立即报名</div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fx"></i>
                        </div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fs"></i>
                        </div>
                    </div>

                </div>
            </li>
            <li class="act-big">
                <img src="/image/home-page/new-activity4.png" alt=""/>
                <div class="act-contain contain-top">
                    <h4>四方来“站” ·外贸品牌电商运营深度剖析精英沙龙</h4>
                    <p>
                        <i class="icon icon-activity-time"></i>
                        <span>2017.09.16</span>
                    </p>
                    <p>
                        <i class="icon icon-activity-location"></i>
                        <span>深圳市·宝安区</span>
                    </p>
                    <div class="contain-btn clearfix">
                        <div class="contain-btn-apply">立即报名</div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fx"></i>
                        </div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fs"></i>
                        </div>
                    </div>

                </div>
            </li>
            <li class="act-small">
                <img src="/image/home-page/new-activity2.png" alt=""/>
                <div class="act-contain contain-bottom">
                    <h4>四方来“站” ·外贸品牌电商运营深度剖析精英沙龙</h4>
                    <p>
                        <i class="icon icon-activity-time"></i>
                        <span>2017.09.16</span>
                    </p>
                    <p>
                        <i class="icon icon-activity-location"></i>
                        <span>深圳市·宝安区</span>
                    </p>
                    <div class="contain-btn clearfix">
                        <div class="contain-btn-apply">立即报名</div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fx"></i>
                        </div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fs"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="act-centre">
                <img src="/image/home-page/new-activity3.png" alt=""/>
                <div class="act-contain contain-bottom">
                    <h4>四方来“站” ·外贸品牌电商运营深度剖析精英沙龙</h4>
                    <p>
                        <i class="icon icon-activity-time"></i>
                        <span>2017.09.16</span>
                    </p>
                    <p>
                        <i class="icon icon-activity-location"></i>
                        <span>深圳市·宝安区</span>
                    </p>
                    <div class="contain-btn clearfix">
                        <div class="contain-btn-apply">立即报名</div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fx"></i>
                        </div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fs"></i>
                        </div>
                    </div>

                </div>
            </li>
            <li class="act-big">
                <img src="/image/home-page/new-activity4.png" alt=""/>
                <div class="act-contain contain-bottom">
                    <h4>四方来“站” ·外贸品牌电商运营深度剖析精英沙龙</h4>
                    <p>
                        <i class="icon icon-activity-time"></i>
                        <span>2017.09.16</span>
                    </p>
                    <p>
                        <i class="icon icon-activity-location"></i>
                        <span>深圳市·宝安区</span>
                    </p>
                    <div class="contain-btn clearfix">
                        <div class="contain-btn-apply">立即报名</div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fx"></i>
                        </div>
                        <div class="contain-btn-icon">
                            <i class="icon icon-activity-fs"></i>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
<div class="section por">
    <div class="icon-foot-logo"></div>
    <div class="container footer clearfix">
        <div class="foot-left">
            <div class="foot-logo">
                <img src="/image/foot-logo.png" alt=""/>
            </div>
            <p class="foot-introduce">
                国内首个跨境电商工具知识类交流分享组织，打造全方位、专业化的电商知识分享及经验交流平台，帮助跨境电商卖家解决电商问题，促进电商卖家经验交流学习，使其电商事业快速发展！</p>
            <p class="foot-copyright">版权所有 © 递四方信息科技集团 粤ICP备12019163号-10</p>
        </div>
        <div class="foot-right">
            <p class="foot-nav-title">产品</p>
            <ul class="foot-nav">
                <li>分析工具</li>
                <li>翻译工具</li>
                <li>挽回工具</li>
                <li>建站工具</li>
                <li>推广工具</li>
            </ul>
            <p class="foot-nav-title">文章</p>
            <ul class="foot-nav">
                <li>人物</li>
                <li>分析</li>
                <li>建站</li>
                <li>电商</li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/placeholders.jquery.min.js"></script>
<script src="/js/swiper-3.4.2.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".login-box").click(function () {
            window.location.href = "./user/login";
        });
        $(".comm").click(function () {
            window.location.href = "./community";
        });
        $(".lib").click(function () {
            window.location.href = "./library";
        });
        $(".prod").click(function () {
            window.location.href = "./product";
        });

        $('input, textarea').placeholder();
    });
</script>
<script>
    var mySwiper = new Swiper('.slider-one', {
        direction: 'horizontal',
        loop: true,
        slidesPerView: 4,
        spaceBetween: 30,
        autoplay: 1000,
        speed: 1000,
    });
    $('.slider-one').mouseenter(function () {
        mySwiper.stopAutoplay();
    }).mouseleave(function () {
        mySwiper.startAutoplay();
    });
    var mySwiperTwo = new Swiper('.slider-two', {
        direction: 'horizontal',
        slidesPerView: 2,
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
    $(function () {
        $('input').placeholder();
    });
</script>
</body>
</html>