<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书馆</title>
    <link rel="stylesheet" href="../static/css/library.css">
    <link rel="stylesheet" href="../static/css/htools.select.skin.css">
</head>
<body>
<div class="header">
    <div class="head-box">
        <div class="head-logo clearfix"></div>
        <ul class="head-nav">
            <li>首页</li>
            <li>社区</li>
            <li class="active">图书馆</li>
            <li>产品</li>
            <li>活动</li>
        </ul>
        <div class="head-tool">
            <div class="search-box clearfix">
                <input type="text" placeholder="请出入您要查找的内容">
                <i class="icon icon-head-search"></i>
            </div>
            <div class="login-box clearfix">
                <i class="icon icon-head-user"></i>
                <span>登录</span>
            </div>
        </div>
    </div>
</div>
<div class="section header-margin top-banner">
    <div class="banner-content clearfix">
        <ul class="banner-data">
            <li>
                <div class="list-box">
                    <i class="icon icon-data-one"></i>
                    <div class="data-type">
                        <span class="data-number">6543210</span>
                        <br/>
                        <span>采纳量</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-box">
                    <i class="icon icon-data-two"></i>
                    <div class="data-type">
                        <span class="data-number">688</span>
                        <br/>
                        <span>文章数</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-box clearfix">
                    <i class="icon icon-data-three"></i>
                    <div class="data-type">
                        <span class="data-number">12345678</span>
                        <br/>
                        <span>访客量</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="search-box clearfix">
            <div class="search-select">
                <select id="myselect">
                    <option value="123">跨境电商</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>
            <div class="search-inp">
                <input type="text" placeholder="输入搜索关键字...">
            </div>
            <div class="search-btn">搜索</div>
        </div>
        <div class="banner-upload">我要上传</div>
    </div>
</div>
<div class="section sec-bg">
    <div class="library-content">
        <div class="library-title">
            <i class="icon icon-lib-title-big"></i>
            <span>内容</span>
        </div>
        <ul class="library-list">
            <li>
                <span class="icon icon-lib-list-tag">原创</span>
                <div class="list-title clearfix">
                    <h3>.shop是“互联网+”时代下您的绝佳电商域名，简短，易记</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
            <li>
                <span class="icon icon-lib-list-tag">官方</span>
                <div class="list-title clearfix">
                    <h3>WebInterpret助力中国卖家打开海外小语种市场</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
            <li>
                <span class="icon icon-lib-list-tag">推荐</span>
                <div class="list-title clearfix">
                    <h3>Bigcommerce云服务建站是基于云模式的外贸电商平台，实现无忧型的快速开店</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
            <li>
                <span class="icon icon-lib-list-tag">原创</span>
                <div class="list-title clearfix">
                    <h3>SimilarWeb分析工具，一款能分析市场竞争对手数据的神器</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
            <li>
                <span class="icon icon-lib-list-tag">官方</span>
                <div class="list-title clearfix">
                    <h3>跨境电商转化率低？Ve Interactive轻松帮你解决</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
            <li>
                <span class="icon icon-lib-list-tag">推荐</span>
                <div class="list-title clearfix">
                    <h3>测试最长标题长度测试最长标题长度测试最长标题长度测试最长标题长度测试最长标题长度测试最长标题长度测试最长标题长度</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
            <li>
                <span class="icon icon-lib-list-tag">官方</span>
                <div class="list-title clearfix">
                    <h3>.shop是“互联网+”时代下您的绝佳电商域名，简短，易记</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
            <li>
                <span class="icon icon-lib-list-tag">官方</span>
                <div class="list-title clearfix">
                    <h3>.shop是“互联网+”时代下您的绝佳电商域名，简短，易记</h3>
                    <p>
                        <i class="icon icon-lib-small-one"></i>
                        <span>3215</span>
                        <i class="icon icon-lib-small-two"></i>
                        <span>68</span>
                    </p>
                </div>
                <p class="list-tag">
                    <i class="icon icon-lib-tag-one"></i>
                    <span>S666888</span>
                    <i class="icon icon-lib-tag-two"></i>
                    <span>美赞拓</span>
                    <i class="icon icon-lib-tag-three"></i>
                    <span>2017.09.15</span>
                </p>
            </li>
        </ul>
        <p class="bottom-more"><span>通过搜索获取更多内容</span></p>
    </div>
</div>
<div class="section por">
    <div class="icon-foot-logo"></div>
    <div class="container footer clearfix">
        <div class="foot-left">
            <div class="foot-logo">
                <img src="../static/image/foot-logo.png" alt="">
            </div>
            <p class="foot-introduce">国内首个跨境电商工具知识类交流分享组织，打造全方位、专业化的电商知识分享及经验交流平台，帮助跨境电商卖家解决电商问题，促进电商卖家经验交流学习，使其电商事业快速发展！</p>
            <p class="foot-copyright">版权所有 © 递四方信息科技集团 粤ICP备12019163号-10</p>
        </div>
        <div class="foot-right">
            <p class="foot-nav-title">产品</p>
            <ul class="foot-nav">
                <li>分析工具</li>
                <li>翻译工具</li>
                <li>挽回工具</li>
                <li>建站工具</li>
                <li>推广工具</li>
            </ul>
            <p class="foot-nav-title">文章</p>
            <ul class="foot-nav">
                <li>人物</li>
                <li>分析</li>
                <li>建站</li>
                <li>电商</li>
            </ul>
        </div>
    </div>
</div>



<script src="../static/js/jquery-1.7.2.min.js"></script>
<script src="../static/js/jquery.htools.select.js"></script>
<script src="../static/js/placeholders.jquery.min.js"></script>
<script>
    var _myselect = $("#myselect");
    _myselect.goSelectInput({
        height: 60,
        width: 140
    });
    console.log(_myselect.find("option:selected").text());
    $(function(){ $('input, textarea').placeholder(); });
</script>
</body>
</html>