<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品</title>
    <link rel="stylesheet" href="../static/css/product.css">
</head>
<body>
<div class="header">
    <div class="head-box">
        <div class="head-logo clearfix"></div>
        <ul class="head-nav">
            <li>首页</li>
            <li>社区</li>
            <li>图书馆</li>
            <li class="active">产品</li>
            <li>活动</li>
        </ul>
        <div class="head-tool">
            <div class="search-box clearfix">
                <input type="text" placeholder="请出入您要查找的内容">
                <i class="icon icon-head-search"></i>
            </div>
            <div class="login-box clearfix">
                <i class="icon icon-head-user"></i>
                <span>登录</span>
            </div>
        </div>
    </div>
</div>
<div class="section header-margin top-banner">
    <div class="container">
        <h1 class="banner-title">BIG3社区，强大的电商资源交流平台</h1>
    </div>
</div>
<div class="section">
    <div class="container">
        <ul class="content-nav clearfix">
            <li class="active">全部分类</li>
            <li>分析</li>
            <li>翻译</li>
            <li>挽回</li>
            <li>建站</li>
            <li>推广</li>
        </ul>
    </div>
</div>
<div class="section sec-bg">
    <div class="container">
        <ul class="content clearfix">
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
            <li>
                <img src="../static/image/product/list-img.png" alt="">
                <div class="list-text">
                    <h3>卖家云</h3>
                    <p>卖家云正式上线后，仅一个月时间即获得厚泽资本数百万天使投资。2015年双十一当天卖家云平台日处理订单量169万、成交金额逾3.3亿、0漏单、无卡顿的战绩。</p>
                </div>
                <div class="list-btn">了解详情</div>
            </li>
        </ul>
        <div class="sorter"></div>
    </div>
</div>
<div class="section por">
    <div class="icon-foot-logo"></div>
    <div class="container footer clearfix">
        <div class="foot-left">
            <div class="foot-logo">
                <img src="../static/image/foot-logo.png" alt="">
            </div>
            <p class="foot-introduce">国内首个跨境电商工具知识类交流分享组织，打造全方位、专业化的电商知识分享及经验交流平台，帮助跨境电商卖家解决电商问题，促进电商卖家经验交流学习，使其电商事业快速发展！</p>
            <p class="foot-copyright">版权所有 © 递四方信息科技集团 粤ICP备12019163号-10</p>
        </div>
        <div class="foot-right">
            <p class="foot-nav-title">产品</p>
            <ul class="foot-nav">
                <li>分析工具</li>
                <li>翻译工具</li>
                <li>挽回工具</li>
                <li>建站工具</li>
                <li>推广工具</li>
            </ul>
            <p class="foot-nav-title">文章</p>
            <ul class="foot-nav">
                <li>人物</li>
                <li>分析</li>
                <li>建站</li>
                <li>电商</li>
            </ul>
        </div>
    </div>
</div>


<script src="../static/js/jquery-1.7.2.min.js"></script>
<script>
    $(document).ready(function () {
        $(".content-nav li").click(function () {
            $(".content-nav li").eq($(this).index()).addClass("active").siblings().removeClass("active")
        })
    })
</script>
</body>
</html>