<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认密码</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>
<body>
<div class="section sec-login">
    <div class="forget-box">
        <div class="logo"></div>
        <h3 class="forget-title">找回密码</h3>
        <div class="forget-content">
            <div class="inp">
                <i class="icon icon-input-pass"></i>
                <input type="password" placeholder="请输入新密码" maxlength="15">
            </div>
            <div class="inp">
                <i class="icon icon-input-pass"></i>
                <input type="password" placeholder="请确认新密码" maxlength="15">
            </div>
            <div class="forget-btn">
                <button class="btn btn-next">确认修改</button>
            </div>
        </div>
        <p class="introduce">国内首家跨境电商知识分享交流平台</p>
    </div>
</div>
</body>
</html>