<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
<div class="section por">
    <div class="icon-foot-logo"></div>
    <div class="container footer clearfix">
        <div class="foot-left">
            <div class="foot-logo">
                <img src="../../static/image/foot-logo.png" alt="">
            </div>
            <p class="foot-introduce">国内首个跨境电商工具知识类交流分享组织，打造全方位、专业化的电商知识分享及经验交流平台，帮助跨境电商卖家解决电商问题，促进电商卖家经验交流学习，使其电商事业快速发展！</p>
            <p class="foot-copyright">版权所有 © 递四方信息科技集团 粤ICP备12019163号-10</p>
        </div>
        <div class="foot-right">
            <p class="foot-nav-title">产品</p>
            <ul class="foot-nav">
                <li>分析工具</li>
                <li>翻译工具</li>
                <li>挽回工具</li>
                <li>建站工具</li>
                <li>推广工具</li>
            </ul>
            <p class="foot-nav-title">文章</p>
            <ul class="foot-nav">
                <li>人物</li>
                <li>分析</li>
                <li>建站</li>
                <li>电商</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>