/* 文字标题、段落（黑） */
/* 背景色（灰） */
/*  图标路径  */
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: PingFangSC-Regular, Helvetica, Arial, "Microsoft Yahei", "微软雅黑";
  color: #000;
  font-size: 14px;
  line-height: 1.4286;
  word-break: break-all;
}
ins,
em,
i {
  font-style: normal;
  text-decoration: none;
}
li,
ol {
  list-style: none;
}
img {
  border: 0 none;
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}
button {
  font: inherit;
  white-space: nowrap;
  vertical-align: middle;
  color: inherit;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  outline: 0;
  border: 0;
}
.btn:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ' ';
  width: 0;
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.por {
  position: relative;
}
.section {
  width: 100%;
}
.sec-bg {
  background-color: #f8f8f8;
}
.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 25px;
  font-size: 30px;
  color: #333333;
  font-weight: normal;
}
.desc {
  text-align: center;
  font-size: 16px;
  color: #666666;
  padding: 5px 0;
}
.header-margin {
  margin-top: 80px;
}
.icon {
  display: inline-block;
  background: url("../image/icon.png");
  vertical-align: top;
}
/* 顶部导航图标 */
[class*="icon-head"] {
  width: 20px;
  height: 20px;
}
.icon-head-search {
  background-position: 0px 0px;
}
.icon-head-user {
  background-position: -20px 0px;
}
/* 干货图标 */
[class*="icon-ds-tag"] {
  width: 20px;
  height: 20px;
}
.icon-ds-tag-look {
  background-position: -47px 3px;
}
.icon-ds-tag-mes {
  background-position: -67px 3px;
}
/* 大数据图标 */
[class*="icon-data"] {
  width: 40px;
  height: 40px;
}
.icon-data-cl {
  background-position: -85px 0px;
}
.icon-data-user {
  background-position: -124px 0px;
}
.icon-data-abc {
  background-position: -165px 0px;
}
.icon-data-xing {
  background-position: -205px 0px;
}
[class*="icon-slider"] {
  width: 16px;
  height: 16px;
}
.icon-slider-user {
  background-position: -244px -4px;
}
.icon-slider-paper {
  background-position: -265px -3px;
}
[class*="icon-activity"] {
  width: 22px;
  height: 22px;
}
.icon-activity-time {
  background-position: -24px -108px;
}
.icon-activity-location {
  background-position: 0px -108px;
}
.icon-activity-fx {
  background-position: 0px -132px;
}
.icon-activity-fs {
  background-position: -24px -132px;
}
[class*="icon-ccr-topnav"] {
  width: 30px;
  height: 30px;
}
.icon-ccl-topnav-one {
  background-position: -102px -104px;
}
.icon-ccl-topnav-two {
  background-position: -168px -104px;
}
.icon-ccl-topnav-three {
  background-position: -102px -138px;
}
.icon-ccl-topnav-four {
  background-position: -168px -138px;
}
.icon-ccl-topnav-five {
  background-position: -135px -104px;
}
.icon-ccl-topnav-six {
  background-position: -203px -103px;
}
.icon-ccl-topnav-seven {
  background-position: -135px -138px;
}
.icon-ccl-topnav-eight {
  background-position: -203px -138px;
}
.icon-ccl-content-sizer {
  width: 28px;
  height: 26px;
  background-position: -49px -135px;
}
.icon-ccr-issue {
  width: 30px;
  height: 30px;
  background-position: -251px -70px;
}
[class*="icon-input"] {
  width: 16px;
  height: 16px;
}
.icon-input-email {
  background-position: -21px -372px;
}
.icon-input-pass {
  background-position: -3px -371px;
}
.icon-input-code {
  background-position: -3px -354px;
}
[class*="icon-other"] {
  width: 30px;
  height: 30px;
}
.icon-other-qq {
  background-position: -46px -170px;
}
.icon-other-wx {
  background-position: -77px -170px;
}
.icon-other-wb {
  background-position: -108px -170px;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header .head-box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header .head-box .head-logo {
  width: 58px;
  height: 50px;
  background: url("../image/logo.png") no-repeat;
  float: left;
  margin: 15px 0 0 15px;
  cursor: pointer;
}
.header .head-box .head-nav {
  float: left;
  overflow: hidden;
  margin-left: 10px;
}
.header .head-box .head-nav li {
  display: inline-block;
  line-height: 80px;
  float: left;
  padding: 0 30px;
  color: #000000;
  font-size: 18px;
}
.header .head-box .head-nav li:hover {
  color: #ff8c1e;
  cursor: pointer;
}
.header .head-box .head-nav .active {
  color: #ff8c1e;
}
.header .head-box .head-tool {
  float: right;
  margin-right: 15px;
}
.header .head-box .head-tool .search-box {
  width: 185px;
  height: 20px;
  position: relative;
  margin-top: 30px;
  float: left;
}
.header .head-box .head-tool .search-box:before {
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  background: #e4e4e4;
  left: 0;
  top: -5px;
}
.header .head-box .head-tool .search-box input {
  width: 120px;
  font-size: 12px;
  margin-left: 15px;
  border: none;
  outline: none;
}
.header .head-box .head-tool .search-box ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #e4e4e4;
}
.header .head-box .head-tool .search-box :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e4e4e4;
}
.header .head-box .head-tool .search-box ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e4e4e4;
}
.header .head-box .head-tool .search-box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e4e4e4;
}
.header .head-box .head-tool .search-box .icon {
  margin-left: 10px;
  cursor: pointer;
}
.header .head-box .head-tool .login-box {
  float: left;
  height: 20px;
  margin-top: 30px;
  position: relative;
}
.header .head-box .head-tool .login-box:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  background: #e4e4e4;
  left: 0;
  top: -5px;
}
.header .head-box .head-tool .login-box .icon {
  margin-left: 15px;
}
.header .head-box .head-tool .login-box span {
  color: #ff8c1e;
  cursor: pointer;
}
.section .icon-foot-logo {
  width: 245px;
  height: 60px;
  background: url("../image/icon.png") no-repeat;
  background-position: 0px -41px;
  position: absolute;
  top: -60px;
  left: 5px;
}
.section .footer {
  height: 300px;
}
.section .footer .foot-left,
.section .footer .foot-right {
  width: 50%;
  float: left;
}
.section .footer .foot-left {
  position: relative;
}
.section .footer .foot-left:before {
  content: '';
  width: 1px;
  height: 182px;
  background-color: #dadada;
  position: absolute;
  top: 67px;
  right: 70px;
}
.section .footer .foot-left .foot-logo {
  margin-top: 30px;
}
.section .footer .foot-left .foot-introduce {
  margin-top: 15px;
  width: 375px;
  line-height: 32px;
}
.section .footer .foot-left .foot-copyright {
  margin-top: 12px;
  color: #c4c4c4;
}
.section .footer .foot-right {
  padding: 80px 0 0 0 ;
}
.section .footer .foot-right .foot-nav-title {
  font-size: 16px;
  color: #ff8c1e;
  position: relative;
  padding-bottom: 8px;
}
.section .footer .foot-right .foot-nav-title:before {
  content: '';
  width: 63px;
  height: 3px;
  background-color: #ff8c1e;
  position: absolute;
  left: 0;
  bottom: -2px;
  z-index: 100;
}
.section .footer .foot-right .foot-nav {
  overflow: hidden;
  margin-bottom: 25px;
}
.section .footer .foot-right .foot-nav li {
  float: left;
  padding-top: 10px;
  border-top: 1px solid #c4c4c4;
  padding-right: 75px;
  font-size: 14px;
  color: #c4c4c4;
  cursor: pointer;
}
.section .footer .foot-right .foot-nav li:hover {
  color: #ff8c1e;
}
.section .footer .foot-right .foot-nav li:nth-last-child(1) {
  padding-right: 10px;
}
